.admin-dashboard {
  padding: 20px;
  text-align: center;
}

.dashboard-title {
  color: #d1d0e6;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;
}

.dashboard-btn {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #6c63ff;
  color: white;
  transition: background 0.3s, transform 0.2s;
  width: fit-content;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.dashboard-btn:hover {
  background: #867aff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-content {
  margin-top: 30px;
}

/* Modern Input Text Boxes Styling */
input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select,
.Form-Control {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus,
.Form-Control:focus {
  border-color: #a5a2df;
  box-shadow: black;
  outline: none;
}
